In [1]:
##### print()함수 탐구하기

In [2]:
print("value", 1, 1.1, [1, 2, 'text'])

# 값과 값 사이는 기본적으로 '공백'으로 되어있음 (디폴트)

value 1 1.1 [1, 2, 'text']

In [4]:
print("value", 1, 1.1, [1, 2, 'text'], sep = ", ")
 # sep는 'keyword'로, sep = "값" 형태로 맨 마지막에 써야 함

value, 1, 1.1, [1, 2, 'text']

In [5]:
print("줄이 바뀝니다.")
print("왤까요?")
print("생각해봅시다.")

줄이 바뀝니다.
왤까요?
생각해봅시다.

In [9]:
print("줄이 바뀌지 않습니다.", end = "")
print("그 이유는 end = \"\\n\"과 같이 기본 설정된 값을 빈 스트링으로 변경했기 때문입니다.")
print("sep", "end는 맨 뒤에 써야하며 둘 간 순서는 상관없습니다.", sep = ", ", end = "")
print("어떻게 사용하는지", "이해가 되시나요", sep = "\n", end = "?")
print("진짜죠", "?")

줄이 바뀌지 않습니다.그 이유는 end = "\n"과 같이 기본 설정된 값을 빈 스트링으로 변경했기 때문입니다.
sep, end는 맨 뒤에 써야하며 둘 간 순서는 상관없습니다.어떻게 사용하는지
이해가 되시나요?진짜죠 ?

In [16]:
# Q1.
year = '2021'
month = '02'
day = '03'
hour = '18'
minute = '33'
second = '23'

print(year, month, day, sep = "/", end = " ")
print(hour, minute, second, sep = ":")

2021/02/03 18:33:23

In [27]:
# Q2.
a = input("사과와 귤을 몇개 드릴까요?").split(",")
a = list(map(int, a))
사과, 귤 = a
print("총 가격은 ", 사과*1000 + 귤*200, "원입니다.", sep = "")

사과와 귤을 몇개 드릴까요? 10,20

총 가격은 14000원입니다.

In [28]:
# Q2 정답
apl_prc = 1000
tan_prc = 200
apple, tangerine = map(int, input("사과와 귤을 몇개 드릴까요?").split(","))

sum_prc = apl_prc * apple + tan_prc * tangerine

print("총 가격은 ", sum_prc, "원입니다.", sep = "")

사과와 귤을 몇개 드릴까요? 10,20

총 가격은 14000원입니다.

In [29]:
##### format()

In [30]:
print("{}".format(10))
print("{} {} {}".format(10, 20, 30))
print("{} {} {} {} {}".format(101, 202, 303, 404, 505))

# {} 개수와 format()의 인수(argument) 개수와 같아야 함!

10
10 20 30
101 202 303 404 505

In [31]:
# 삼중따옴표 활용
import time

today = """오늘의 날짜를 알려드립니다!
{}년 {}월 {}일입니다.\
""".format(time.localtime().tm_year,
           time.localtime().tm_mon,
           time.localtime().tm_mday)

print(today)

# tab 누르면 메서드 리스트가 뜸

오늘의 날짜를 알려드립니다!
2023년 2월 15일입니다.

In [32]:
# 중괄호 개수 > format 메서드 인수인 경우?  -> 초과되는 format 메서드 인수는 버려짐
some_str = "중괄호는 2개이고, {} {}".format("여기", "인수는", "3개 입니다.")
print(some_str)  # '3개 입니다.'는 짤림

# <참고> 인수는 {}로 Tuple 형태로 packing되어 입력됨

중괄호는 2개이고, 여기 인수는

In [33]:
# 중괄호 개수 < format 메서드 인수인 경우?  -> IndexError 발생
some_str = "중괄호는 2개이고, {} {} {} {}".format("여기", "인수는", "3개 입니다.")
print(some_str)  # 에러 발생

IndexError: Replacement index 3 out of range for positional args tuple

In [34]:
##### f-String

In [36]:
print(f"{10}")
print(f"{10} {20} {30}")
print(f"{101} {202} {303} {404} {505}")

# 공백은 그대로 유지, f가 {}안 숫자를 그대로 출력되도록 함

10
10 20 30
101 202 303 404 505

In [37]:
# """ 사용
import time

today = f"""오늘의 날짜를 알려드립니다!
{time.localtime().tm_year}년 {time.localtime().tm_mon}월 {time.localtime().tm_mday}일입니다.\
"""

print(today)

오늘의 날짜를 알려드립니다!
2023년 2월 15일입니다.

In [ ]:
##### 흐름 제어문 - if

In [ ]:
# if ~ elif ~ else 구문 / 논리 연산자(and, or, not 등)를 많이 사용해 문장의 흐름을 제어

In [40]:
input_value4 = 3243
print(type(input_value4))
type(input_value4) is int

# type()은 객체의 타입을 반환함  ex. int, str, ...

<class 'int'>

True

In [43]:
# if문 예 - 조건이 맞을 때만 실행하라!
a = 100

# a라는 변수의 타입이 int라면 True, 아니면 False
if type(a) is int:
    print("a는 정수입니다")

a는 정수입니다

In [45]:
b = '10'
if type(b) is int:
    print("b는 정수입니다")  # 실행된 것 없음

In [49]:
b = '10'
if type(b) is int:
    print("b는 정수입니다")

# 앞 조건이 전부 False일 때만 실행되는 부분
elif True:
    print("문자열입니다.")

문자열입니다.

In [50]:
b = 10
if type(b) is int:
    print("정수입니다")

# 앞 조건 = True이므로, 뒷부분 출력 X
elif True:
    print("문자열입니다.")

정수입니다

In [53]:
c = 10
print("시작")

if c > 10:
    print("10보다 큽니다")

elif c < 5:
    print("10보다 작고 5보다도 작습니다.")

elif True:
    print("10보다 작고, 5보단 큽니다.")

print("끝")

# 1번째 조건, 2번째 조건 모두 해당사항 없음  -> 아무것도 출력하지 X

시작
10보다 작고, 5보단 큽니다.
끝

In [57]:
scr = 100
print("시작")

if scr > 90:
    print("수")

elif scr < 90 and scr >= 80:
    print("우")

elif scr < 80 and scr >= 70:
    print("미")

print("끝")

시작
수
끝

In [58]:
age = 39

if 20 <= age < 30:
    print("20대 입니다.")

elif 30 <= age < 40:
    print("30대 입니다.")

print("감사합니다.")

# 위 구문처럼 범위가 서로 겹치지 않는 것을 '상호 배타적'이라고 함
# 구간이 서로 겹치면 곤란해짐

30대 입니다.
감사합니다.

In [60]:
age = 40

if 20 <= age < 30:
    print("20대 입니다.")

elif 30 <= age < 40:
    print("30대 입니다.")

else:
    print("오우... 불혹을 넘기셨군요")

print("감사합니다.")

오우... 불혹을 넘기셨군요
감사합니다.

In [82]:
# 연습문제
ID = input("아이디를 입력하세요 : ")

if ID == "admin":
    print("\n최고 관리자, 모든 권한을 갖습니다.")

else:
    Lv = int(input("회원 등급을 입력해주세요 : "))
    if 1 <= Lv <= 3:
        print("\n제한적인 권한을 갖습니다.")

    else:
        print("\n권한이 없습니다.")

# if문을 이중으로 사용할 수도 있음
### 들여쓰기 주의!!! ###
# 구문 뼈대는 남겨두고 다음으로 넘어가고 싶을 때에는 pass 입력, 주석으로 # TOBE 입력 (관례)
# :(콜론)은 생략 불가

아이디를 입력하세요 :  biana
회원 등급을 입력해주세요 :  3

제한적인 권한을 갖습니다.

In [85]:
# 다른 풀이 - 연산자 != 사용
ID = input("아이디를 입력하세요 : ")

if ID == "admin":
    print("\n최고 관리자, 모든 권한을 갖습니다.")

elif ID != "admin":
    Lv = int(input("회원 등급을 입력해주세요 : "))
    if 1 <= Lv <= 3:
        print("\n제한적인 권한을 갖습니다.")

    else:
        print("\n권한이 없습니다.")

아이디를 입력하세요 :  admin

최고 관리자, 모든 권한을 갖습니다.

In [ ]:
age = int(input("나이를 입력해주세요."))

if age >= 10:
    print("10살 이상입니다.")
    if age >= 20:
        print("20살 이상입니다.")
        if age >= 30:
            print("30살 이상입니다.")
            if age >= 40:
                print("40살 이상입니다.")

In [92]:
# Q1.
a = int(input("자연수 하나 입력해주세요:"))
if a - 50 < 0:
    print(0)
else:
    print(a - 50)

자연수 하나 입력해주세요: 70

20

In [94]:
# Q1 다른 풀이
int_value = int(input("자연수 하나 입력해주세요: "))

result = int_value - 50

if result < 0:
    result = 0

print(result)

자연수 하나 입력해주세요:  456

406

In [97]:
# Q2.
n = int(input("자연수 하나 입력해주세요: "))

if n % 2 == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

자연수 하나 입력해주세요:  4874545151

홀수입니다.

In [104]:
# Q3.
설계 = int(input("소프트웨어 설계 점수를 입력하세요."))
개발 = int(input("소프트웨어 개발 점수를 입력하세요."))
DB = int(input("데이터베이스 구축 점수를 입력하세요."))
pg = int(input("프로그래밍 언어 활용 점수를 입력하세요."))
ins = int(input("정보시스템 구축관리 점수를 입력하세요."))

if (설계 < 0 or 설계 > 100) or (개발 < 0 or 개발 > 100) or (DB < 0 or DB > 100) or (pg < 0 or pg > 100) or (ins < 0 or ins > 100):
    print("잘못된 점수입니다.")

elif (설계 + 개발 + DB + pg + ins) / 5 >= 60:
    print("합격")

else:
    print("불합격")

소프트웨어 설계 점수를 입력하세요. 80
소프트웨어 개발 점수를 입력하세요. 80
데이터베이스 구축 점수를 입력하세요. 80
프로그래밍 언어 활용 점수를 입력하세요. 80
정보시스템 구축관리 점수를 입력하세요. 80

합격

In [106]:
# Q3 다른 풀이
설계 = int(input("소프트웨어 설계 점수를 입력하세요."))
개발 = int(input("소프트웨어 개발 점수를 입력하세요."))
DB = int(input("데이터베이스 구축 점수를 입력하세요."))
pg = int(input("프로그래밍 언어 활용 점수를 입력하세요."))
ins = int(input("정보시스템 구축관리 점수를 입력하세요."))

if (0 <= 설계 <= 100 and 0 <= 개발 <= 100 and 0 <= DB <= 100 and 0 <= pg <= 100 and 0 <= ins <= 100):
    avg = (설계 + 개발 + DB + pg + ins) / 5
    if avg >= 60:
        print("합격")
    else:
        print("불합격")
else:
    print("잘못된 점수입니다.")

소프트웨어 설계 점수를 입력하세요. 70
소프트웨어 개발 점수를 입력하세요. 70
데이터베이스 구축 점수를 입력하세요. 70
프로그래밍 언어 활용 점수를 입력하세요. 70
정보시스템 구축관리 점수를 입력하세요. 70

합격

In [108]:
# Q4.
a = float(input("현재 물의 온도를 입력해주세요"))

if a >= 100:
    print("기체로 예상됩니다.")
elif a >= 0:
    print("액체로 예상됩니다.")
else:
    print("고체로 예상됩니다.")

현재 물의 온도를 입력해주세요 234.55667

기체로 예상됩니다.

In [114]:
# Q5.
age = int(input("자신의 나이를 입력하세요:"))

if age >= 19:
    print("1500원")
elif age >= 12:
    print("1100원")
elif age >= 6:
    print("800원")
else:
    print("무료입니다.")

자신의 나이를 입력하세요: 19

1500원

In [116]:
### 참고 ###
# if
# if
# if
# if
# => if에 걸리는 모든 조건에 대해서 체크함
# => 체크리스트 항목의 모든 내용을 확인해야 할 때 사용

# VS

# if
# elif
# elif
# elif
# => 4개 조건 중 하나만 만족하면 조건문을 빠져나가서 결과를 출력함

In [123]:
# Q4.
a = int(input("발주 수량을 입력하세요: "))

if a < 1000:
    print(a, "개를 주문하셨습니다.", sep = "")
    print("수량할인이 적용되지 않습니다.")
    print("총 발주 금액은 $", int(10*a), "입니다.", sep = "")
elif a <= 1500:
    print(a, "개를 주문하셨습니다.", sep = "")
    print("적용 할인율은 5%입니다.")
    print("총 발주 금액은 $", int(10*a*0.95), "입니다.", sep = "")
elif a <= 2000:
    print(a, "개를 주문하셨습니다.", sep = "")
    print("적용 할인율은 10%입니다.")
    print("총 발주 금액은 $", int(10*a*0.9), "입니다.", sep = "")
else:
    print(a, "개를 주문하셨습니다.", sep = "")
    print("적용 할인율은 20%입니다.")
    print("총 발주 금액은 $", int(10*a*0.8), "입니다.", sep = "")

발주 수량을 입력하세요:  2001

2001개를 주문하셨습니다.
적용 할인율은 20%입니다.
총 발주 금액은 $16008입니다.

In [126]:
print(f"{a}개를 주문하셨습니다.")

2001개를 주문하셨습니다.
총 발주 금액은 20010입니다.

In [23]:
# Q5.
a = str(input("주민번호 뒷자리를 입력하세요: "))

if len(a) != 7:
    print("자리수를 잘못 입력했습니다.")
elif a[0] == "1" or a[0] == "3":
    print("남자")
elif a[0] == "2" or a[0] =="4":
    print("여자")
else:
    print("잘못된 입력입니다.")

주민번호 뒷자리를 입력하세요:  1234567

남자

In [27]:
# Q5 다른 풀이
a = str(input("주민번호 뒷자리를 입력하세요: "))

if len(a) != 7:
    print("자리수를 잘못 입력했습니다.")
else:
    fst_num = int(a[0])
    if fst_num in (1, 3):
        print("남자")
    elif fst_num in (2, 4):
        print("여자")
    else:
        print("잘못된 입력입니다.")

# or 대신 In(값1, 값2)로 효율적으로 표현할 수 있음

주민번호 뒷자리를 입력하세요:  2345678

여자

In [35]:
# Q6.
year = int(input("확인할 연도를 입력하세요: "))

if year % 4 == 0:
    print("윤년입니다.")
else:
    if year % 400 == 0 and year % 100 != 0:
        print("윤년입니다.")
    else:
        print("평년입니다.")

확인할 연도를 입력하세요:  2023

평년입니다.

In [59]:
# Q6 다른 풀이
year = int(input("확인할 연도를 입력하세요: "))

if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
    print("윤년입니다.")
else:
    print("평년입니다.")

# if절에서 or 부분이 and로 걸려야 하지 않을까??
# Answer. 윤년과 평년 조건은 대우 명제 관계이므로 등호, 부등호와 and or가 같이 바뀜

확인할 연도를 입력하세요:  1896

윤년입니다.

In [60]:
##### for 반복문 맛보기 -> 내일 자세히!

In [61]:
 # 슬라이싱 복습

In [62]:
a = [0, 1, 2, 3, 4, 5, 6, 7]
a[0:5:2]

[0, 2, 4]

In [63]:
# 함수를 호출할 때 소괄호 사용
# 인수(arguments)가 여럿일 때 ,(콤마)로 구분
# range(시작숫자(포함), 끝숫자(미포함), 증감)  # 시작숫자 = 0 이면 생략 가능 / 증감 = 1 이면 생략 가능
# range는 규칙된 숫자를 만드는데 특화되어 있음

In [ ]:
# 아래 3개 case는 같은 결과를 출력함

In [64]:
range(0, 8)

range(0, 8)

In [65]:
range(0, 8, 1)

range(0, 8)

In [66]:
range(8)

range(0, 8)

In [67]:
list(range(8))  # iterable

[0, 1, 2, 3, 4, 5, 6, 7]

In [68]:
print(list(range(0, 8, 1)))
print(list(range(8)))
# 같은 값 출력

[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7]

In [69]:
type(range(1))

range

In [70]:
# 리스트 VS range 가장 큰 차이점
# List: 메모리 상에 만들어 둠. range는 필요할 때 메모리에 만들어놓음  (?????) -> 천천히 이해하자....

In [ ]:
# range는 0부터 999까지의 숫자를 생성함
for n in range(1000):  # range(1000) = iterable
    print("hello")