In [ ]:
##### 개행문자 & 삼중 따옴표

In [7]:
a = """
안녕하세요.
나는 파이썬을 공부하고 있습니다.
반갑습니다."""

print(a)

안녕하세요.
나는 파이썬을 공부하고 있습니다.
반갑습니다.

In [6]:
a = """\
안녕하세요.
나는 파이썬을 공부하고 있습니다.
반갑습니다.\
"""

print(a)

# 1행 삼중 따옴표 뒤 \는 공백 제거 역할을 함

안녕하세요.
나는 파이썬을 공부하고 있습니다.
반갑습니다.

In [11]:
a = """
"안녕하세요."
나는 파이썬을 공부하고 있습니다.
반갑습니다.
"""

print(a)

# 그냥 따옴표를 쓰면 됨

"안녕하세요."
나는 파이썬을 공부하고 있습니다.
반갑습니다.

In [15]:
print("너무 너무 너무 너무 너무 너무 너무 파이썬 공부가 즐겁습니다.")  # 비효율적인 코드. 불편함을 느껴봐라..?

b = "너무 " * 7 + "파이썬 공부가 즐겁습니다."
print(b)

너무 너무 너무 너무 너무 너무 너무 파이썬 공부가 즐겁습니다.
너무 너무 너무 너무 너무 너무 너무 파이썬 공부가 즐겁습니다.

In [16]:
b = "취업" * 20
print(b)

취업취업취업취업취업취업취업취업취업취업취업취업취업취업취업취업취업취업취업취업

In [17]:
##### 시퀀스 자료형 - 인덱싱 & 슬라이싱

In [ ]:
# 인덱싱

In [19]:
word = 'Python'
word[0]

'P'

In [21]:
print(word[0])
print(word[5])

P
n

In [22]:
print(word[-1])
print(word[-6])

n
P

In [ ]:
# 문자열, list, tuple, range 모두 적용 가능
# 리스트는 대괄호, 튜플은 소괄호
# 자료형이 갖는 범위 내에서만 사용 가능

In [ ]:
# 슬라이싱

In [25]:
# Q1.
sentence = '중요한 것은 꺾이지 않는 마음'
print(sentence[7])

꺾

In [27]:
word = 'Python'
print(word[0:2])
print(word[4:])
print(word[-1:-4])
print(word[-4:-1])

Py
on

tho

In [ ]:
# 슬라이싱 증감크기

In [30]:
print(word[0:5:3])  # 0은 >= (이상), 5는 < (미만)
print(word[::2])

Ph
Pto

In [32]:
print(sentence[42:])   # 해당되는 내용 없으므로 출력물 없음
print(sentence[2:42])  # 문자열 범위 초과해서 지정해도 결과 잘 나옴

한 것은 꺾이지 않는 마음

In [37]:
# Q2.
sentence = '중요한 것은 꺾이지 않는 마음'
print(sentence[7:])
print(sentence[6:])  # 공백 주의

꺾이지 않는 마음
 꺾이지 않는 마음

In [52]:
# Q3.
sentence = '중요한 것은 꺾이지 않는 마음'
print(sentence[-14:-17:-1])
print(sentence[2::-1])  # 다른 풀이
print(sentence[-14:-16:-1])
# 역순 슬라이싱 할 때는 한 칸 더 가서 끝내야 함!! 정방향 슬라이싱 할 때 한 칸 뒤에서 끝내는거랑 같은 원리

한요중
한요중
한요

In [ ]:
# 시퀀스 크기

In [ ]:
##### 리스트

In [54]:
squares = [1**2, 2**2, 3**2, 4**2, 5**2]
print(squares)

[1, 4, 9, 16, 25]

In [57]:
print(squares[0])
print(squares[-1])
print(squares[-3:])

1
25
[9, 16, 25]

In [58]:
print(squares + [36, 49, 64, 81, 100])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
letters = ['a', 'b', 'c', 'd', 'e']
print(letters * 3)

['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']

In [ ]:
# 리스트 가변

In [1]:
cubes = [1, 8, 7, 27, 65, 125]
cubes[3] = 4**3
print(cubes)

[1, 8, 7, 64, 65, 125]

In [6]:
letters[2:5] = ["C", "D", "E"]
print(letters)
print(len(letters))

['a', 'b', 'C', 'D', 'E']
5

In [7]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
print(x)

[['a', 'b', 'c'], [1, 2, 3]]

In [9]:
print(x[0])
print(x[0][1])  # 인덱스 2번 시행

['a', 'b', 'c']
b

In [10]:
numbers = [1, 2, 3, 4, 5, 6, 7]
print(5 in numbers)   # numbers에 5가 있나? -> True
print(10 in numbers)  # False

True
False

In [14]:
# Q1.
scores = [88, 73, 89, 59, 77]
print(scores[0] >= 60 and scores[1] >= 60 and scores[2] >= 60 and scores[3] >= 60 and scores[4] >= 60)

False

In [15]:
##### 리스트 메소드 (추가, 삭제, 조회, 정렬 등...)

In [ ]:
# 형식: 리스트명.함수 / 리스트명을 '객체'라고 함

In [35]:
numbers = [1, 2, 3, 4, 5, 6, 7]
numbers.append(8)  # 출력값 없음. append 뒤에 요소 추가됨

In [36]:
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8]

In [37]:
# 리스트명.insert(인덱스, 넣을 값)
numbers.insert(0, 0)
numbers.insert(4, 0)
numbers.insert(6, 0)
numbers.insert(len(numbers), 0)
print(numbers)

[0, 1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0]

In [38]:
# 리스트명.extend([값1, 값2, ...])  # 리스트 형태로 값 추가
numbers.extend([9, 10, 11])  # 반환값 없음
print(numbers)

[0, 1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 9, 10, 11]

In [39]:
# 리스트명.remove(지우려는 요소)  # 가장 먼저 발견된 것만 지우고 종료
numbers.remove(0)  # 반환값 없음
print(numbers)

[1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 9, 10, 11]

In [40]:
# 리스트명.pop()
print(numbers.pop())  # 가장 마자막 값 반환
print(numbers)  # 가장 마자막 값 삭제 후 출력

11
[1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 9, 10]

In [41]:
# 리스트명.index(찾는 값)
print(numbers)
print(numbers.index(0))  # numbers의 원소 0의 인덱스 값 출력

[1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 9, 10]
3

In [42]:
# 리스트명.count(찾는 값)
print(numbers.count(0))  # numbers 내 찾는 값의 개수 출력

3

In [44]:
# 리스트명.sort()
numbers.sort()
print(numbers)  # 오름차순 정렬

[0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
# 리스트명.reverse()
reverse_test = [7, 2, 1, 2, 4, 8]
reverse_test.reverse()
print(reverse_test)

# '중요한'을 '한요중'으로 바꾼 것과 같은 원리

[8, 4, 2, 1, 2, 7]

In [53]:
# 리스트명.clear()
numbers.clear()  # 리스트 내 요소 모두 삭제
print(numbers)  # 비어 있는 리스트가 됨

[]

In [46]:
##### Stack

In [47]:
# 후입선출(Last In First Out): 나중에 넣은 것이 먼저 나오는 원리

In [52]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
print(stack)

print(stack.pop())

print(stack)

print(stack.pop())
print(stack.pop())

print(stack)

[3, 4, 5, 6, 7]
7
[3, 4, 5, 6]
6
5
[3, 4]

In [54]:
##### 튜플(Tuple)

In [57]:
tuple_variable = (1, 2, 3, 4, 5, "hello")
print(tuple_variable)

(1, 2, 3, 4, 5, 'hello')

In [58]:
tuple_variable[0] = 0  # 수정 불가

TypeError: 'tuple' object does not support item assignment

In [59]:
del tuple_variable[1]  # del로 튜플 삭제 불가

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
### 리스트와 가장 큰 차이점 ###
# 수정 불가능, 삭제 불가능

In [60]:
t_v2 = "음", "오", "아", "예"
print(type(t_v2))  # ( )안해도 튜플이라고 인식함 (그래도 괄호는 꼭 쓰자)
print(t_v2)

<class 'tuple'>
('음', '오', '아', '예')

In [ ]:
### Tuple이 List보다 빠른 것 증명

In [62]:
import time

start_time = time.time()  # 시작하는 시간
test = []

for _ in range(1_000_000):
    tp = (_, _)  # tuple
    test.append(tp)

# 끝나는 시간 - 시작하는 시간
print(time.time() - start_time)  # 동작한 시간

0.24794220924377441

In [64]:
start_time = time.time()
test = []

for _ in range(1_000_000):
    tp = [_, _]  # list
    test.append(tp)

print(time.time() - start_time)

0.7998659610748291

In [ ]:
# 연습문제 <생각해보기>
'''
1. 처음 20번째까지 소수(Prime number)
2. 프로그래밍 언어의 종류
3. 사람의 나이, 몸무게, 키
4. 사람의 생일과 출생지
5. 롤 게임의 결과
6. 잇단 롤 게임의 결과
'''

# 데이터가 변수인지 상수인지에 따라 구분함
# 값이 변하는 데이터는 수정이 가능한 리스트로만 처리해야 하기 때문
# Tuple -> 1, 4, 5번 / List -> 2, 3, 6

In [65]:
s1, s2 = "text1", "text2"
print(s1)
print(s2)

text1
text2

In [68]:
s3, s4, s5 = ["이렇게", "리스트도", "가능합니다."]
print(s3, s4, s5)

이렇게 리스트도 가능합니다.

In [74]:
s6, s7, s8, s9 = "문자열도"
print(s6, s7, s8, s9)
type(s6)

문 자 열 도

str

In [71]:
##### 입력 (feat. input())

In [73]:
input_value = input("Message")  # Message는 argument라고 함

# input으로 받아오는 모든 결과는 string

Message qwer

In [75]:
print("input_value:", input_value, "\ntype:", type(input_value))

input_value: qwer
type: <class 'str'>

In [88]:
input_value2 = input("정수 외에 다른 값을 입력해보세요.")

정수 외에 다른 값을 입력해보세요. 1.1

In [89]:
input_value2 = int(input_value2)  # 에러 발생 / int를 float로
print(input_value2)

ValueError: invalid literal for int() with base 10: '1.1'

In [90]:
input_value2 = float(input_value2)
print(input_value2)

1.1

In [91]:
input_value2 = int(input_value2)  # 다시 정수로 환원
print(input_value2)

1

In [92]:
input_value3 = input("다른 정수를 입력해보세요.")

다른 정수를 입력해보세요. 정수

In [93]:
int(input_value3)  # 에러 발생

ValueError: invalid literal for int() with base 10: '정수'

In [98]:
input_value4 = int(input("정수를 입력해주세요:"))
print(input_value4)

정수를 입력해주세요: 51

51

In [102]:
type(input_value4)

int

In [109]:
# Q1.
a = input("이름을 입력하시오:")
print(a,"씨, 안녕하세요?\n파이썬에 오신 것을 환영합니다.")

b = int(input("첫 번째 정수를 입력하세요:"))
c = int(input("두 번째 정수를 입력하세요:"))
print(b, "과", c,"의 합은", b+c,"입니다.")

이름을 입력하시오: 엔코아

엔코아 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫 번째 정수를 입력하세요: 300
두 번째 정수를 입력하세요: 400

300 과 400 의 합은 700 입니다.

In [112]:
# 다른 풀이(포맷팅)
a = input("이름을 입력하시오:")
print(a,"씨, 안녕하세요?\n파이썬에 오신 것을 환영합니다.")

b = int(input("첫 번째 정수를 입력하세요:"))
c = int(input("두 번째 정수를 입력하세요:"))
print("%d 과 %d 의 합은 %d 입니다." % (b, c, b+c))

이름을 입력하시오: 엔코아

엔코아 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫 번째 정수를 입력하세요: 300
두 번째 정수를 입력하세요: 400

300 과 400 의 합은 700 입니다.

In [115]:
# Q2.
std = input("경기장은 어디입니까?")
win = input("이긴 팀은 어디입니까?")
lose = input("진팀은 어디입니까?")
best = input("우수 선수는 누구입니까?")
scr = input("스코어는 몇대몇입니까?")

print("\n[속보]", win, "가", scr, "로 승리...")
print("오늘", std, "경기장에서 야구 경기가 있었습니다.")
print(win, "와", lose, "는 치열한 공방전을 펼쳤습니다.")
print("이 경기에서", best, "가 맹활약을 했습니다.")
print("그 끝내", win, "가", lose, "를", scr, "로 승리하였습니다.\n기사 끝.")

경기장은 어디입니까? 고척
이긴 팀은 어디입니까? KT
진팀은 어디입니까? LG
우수 선수는 누구입니까? 강백호
스코어는 몇대몇입니까? 10:9

[속보] KT 가 10:9 로 승리...
오늘 고척 경기장에서 야구 경기가 있었습니다.
KT 와 LG 는 치열한 공방전을 펼쳤습니다.
이 경기에서 강백호 가 맹활약을 했습니다.
그 끝내 KT 가 LG 를 10:9 로 승리하였습니다.
기사 끝.

In [ ]:
# 한 번에 여러 개의 입력값 받기 - split()

In [116]:
result = '1, 2, 3'.split(',')
print(type(result))
print(result)

<class 'list'>
['1', ' 2', ' 3']

In [119]:
# Q1. - 인덱싱 사용한 풀이
a = input("hh:mm:ss 의 형태로 시간을 입력해주세요").split(':')
print("시 :", a[0])
print("분 :", a[1])
print("초 :", a[2])

hh:mm:ss 의 형태로 시간을 입력해주세요 12:33:23

실행 결과:
시 : 12
분 : 33
초 : 23

In [120]:
print(a)

['12', '33', '23']

In [121]:
# 다른 풀이
h, m, s = input("hh:mm:ss 의 형태로 시간을 입력해주세요").split(':')
print("시 :", h)
print("분 :", m)
print("초 :", s)

hh:mm:ss 의 형태로 시간을 입력해주세요 12:33:23

시 : 12
분 : 33
초 : 23

In [122]:
##### map()함수

In [125]:
# iterable 객체: 시퀀스 자료형 중 하나. 순서에 따라 하나씩 꺼내어 함수에 적용할 수 있음
# 반환 시 map 클래스를 반환함

In [123]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))  # 형식: a = list(map(함수, 시퀀스))
print(a)

[1, 2, 3, 4]

In [151]:
# 연습문제
a = input("국어, 영어, 수학, 과학 점수를 입력해주세요").split(',')
a = list(map(int, a))
kor, eng, mat, sci = a  # Unpacking
avg = (kor + eng + mat + sci)/len(a)
print("평균 점수는", avg, "점입니다.")

# 4행에서 'b'라는 새로운 문자로 정의하면 왜 오류가 날까?

국어, 영어, 수학, 과학 점수를 입력해주세요 98,100,96,100

평균 점수는 98.5 점입니다.

In [149]:
# 검토
print(kor)
print(eng)
print(mat)
print(sci)

98
100
96
100

In [ ]:
# 연습문제 정답
kor, eng, mat, sci = map(int, input("국어, 영어, 수학, 과학 점수를 입력해주세요").split(","))
avg = (kor + eng + mat + sci) / 4
print("평균 점수는", avg, "점입니다.")