In [1]:
##### Series_2차시

In [1]:
import pandas as pd
import numpy as np

In [2]:
nums = pd.Series(range(500))
nums

0        0
1        1
2        2
3        3
4        4
      ...
495    495
496    496
497    497
498    498
499    499
Length: 500, dtype: int64

In [3]:
nums.head()  # Default = 5

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [4]:
nums.head(10)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [5]:
nums.tail()  # Default = 5

495    495
496    496
497    497
498    498
499    499
dtype: int64

In [6]:
nums.tail(10)

490    490
491    491
492    492
493    493
494    494
495    495
496    496
497    497
498    498
499    499
dtype: int64

In [7]:
nums = pd.Series([1, 2, np.nan, 4, 5])
nums

0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64

In [8]:
hello = pd.Series(list("hello"))  # List 객체 ['h', 'e', 'l', 'l', 'o']를 Series로
hello

0    h
1    e
2    l
3    l
4    o
dtype: object

In [9]:
hello.nunique()  # 원소의 고유값 출력 (= 중복 없이 개수 셈)

4

In [10]:
nums.count()  # NaN 제외한 길이 출력

4

In [11]:
len(nums)  # 전체 길이 출력

5

In [ ]:
## Series 수학연산

In [12]:
nums.sum()

12.0

In [13]:
nums.sum(skipna = False)

nan

In [14]:
nums.mean()

3.0

In [15]:
nums.median()

3.0

In [16]:
nums.std()

1.8257418583505538

In [17]:
nums.max()

5.0

In [18]:
nums.min()

1.0

In [19]:
somechar = pd.Series(list("AaBbCc"))
somechar

0    A
1    a
2    B
3    b
4    C
5    c
dtype: object

In [ ]:
## ord() - Unicode방식 숫자

In [20]:
ord('a')

97

In [21]:
ord('A')

65

In [22]:
somechar.max()

'c'

In [23]:
somechar.min()

'A'

In [26]:
# 문자, 한글 등도 유니코드 숫자값을 가지고 있음
# max(), min()값이 구해지는 이유

In [24]:
nums.describe()  # 기술통계(수학연산)

count    4.000000
mean     3.000000
std      1.825742
min      1.000000
25%      1.750000
50%      3.000000
75%      4.250000
max      5.000000
dtype: float64

In [25]:
hello.describe()  # 빈도

count     5
unique    4
top       l
freq      2
dtype: object

In [29]:
# 문자열 describe와 숫자형 describe와 출력 내용이 다름

In [ ]:
## Series를 다른 자료형으로

In [26]:
nums

0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64

In [27]:
list(nums)  # Series -> List

[1.0, 2.0, nan, 4.0, 5.0]

In [28]:
dict(nums)  # Series -> Dictionary

{0: 1.0, 1: 2.0, 2: nan, 3: 4.0, 4: 5.0}

In [29]:
# Q1. Series 생성
superheros = ["Batman", "Superman", "Spider-Man", "Iron Man", "Captain America", "Wonder Woman"]
strength_levels = (100, 120, 90, 95, 110, 120)

heros = pd.Series(data = strength_levels, index = superheros)
heros

Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [30]:
# Q2. 마지막 4개 데이터 추출
heros.tail(4)

Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [31]:
# Q3. Series의 고유한 값 개수
heros.count()

6

In [32]:
# Q4.평균, 중앙값, 최대/최솟값 각각 구하기
print(heros.mean())
print(heros.median())
print(heros.max())
print(heros.min())

105.83333333333333
105.0
120
90

In [33]:
# 다른 입력방법
heros.mean(), heros.median(), heros.max(), heros.min()

(105.83333333333333, 105.0, 120, 90)

In [34]:
# Q5. Series -> Dictionary
heros_dic = dict(heros)
heros_dic

{'Batman': 100,
 'Superman': 120,
 'Spider-Man': 90,
 'Iron Man': 95,
 'Captain America': 110,
 'Wonder Woman': 120}

In [44]:
##### Pandas 데이터 입출력 - Series

In [ ]:
## CSV파일 이용

In [35]:
import pandas as pd
import numpy as np

In [ ]:
# Series로 읽어오기

In [36]:
pokemons = pd.read_csv("datas/pokemon.csv", index_col = "Pokemon", squeeze = True)
pokemons

C:\Users\Playdata\AppData\Local\Temp\ipykernel_2088\4018176064.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pokemons = pd.read_csv("datas/pokemon.csv", index_col = "Pokemon", squeeze = True)

Pokemon
Bulbasaur      Grass / Poison
Ivysaur        Grass / Poison
Venusaur       Grass / Poison
Charmander               Fire
Charmeleon               Fire
                    ...
Stakataka        Rock / Steel
Blacephalon      Fire / Ghost
Zeraora              Electric
Meltan                  Steel
Melmetal                Steel
Name: Type, Length: 809, dtype: object

In [37]:
type(pokemons)

pandas.core.series.Series

In [38]:
pokemons.describe()

count        809
unique       159
top       Normal
freq          65
Name: Type, dtype: object

In [60]:
## 정렬

In [39]:
pokemons.sort_values()  # 오름차순 정렬(Default)

Pokemon
Illumise                Bug
Silcoon                 Bug
Pinsir                  Bug
Burmy                   Bug
Wurmple                 Bug
                  ...
Tirtouga       Water / Rock
Relicanth      Water / Rock
Corsola        Water / Rock
Carracosta     Water / Rock
Empoleon      Water / Steel
Name: Type, Length: 809, dtype: object

In [40]:
pokemons.sort_values(ascending = False)

Pokemon
Empoleon      Water / Steel
Corsola        Water / Rock
Relicanth      Water / Rock
Carracosta     Water / Rock
Tirtouga       Water / Rock
                  ...
Kricketune              Bug
Cascoon                 Bug
Scatterbug              Bug
Kricketot               Bug
Grubbin                 Bug
Name: Type, Length: 809, dtype: object

In [41]:
google = pd.read_csv("datas/google_stocks.csv",
                     parse_dates = ["Date"],  # parsing 할 column을 List로 전달
                     index_col = "Date",
                     squeeze = True)
google

C:\Users\Playdata\AppData\Local\Temp\ipykernel_2088\3172711056.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  google = pd.read_csv("datas/google_stocks.csv",

Date
2004-08-19      49.98
2004-08-20      53.95
2004-08-23      54.50
2004-08-24      52.24
2004-08-25      52.80
               ...
2019-10-21    1246.15
2019-10-22    1242.80
2019-10-23    1259.13
2019-10-24    1260.99
2019-10-25    1265.13
Name: Close, Length: 3824, dtype: float64

In [42]:
war = pd.read_csv("datas/revolutionary_war.csv",
                  usecols = ["Start Date", "State"],
                  parse_dates = ["Start Date"],
                  index_col = "Start Date").squeeze("columns")
war

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
                  ...
1782-09-11         Virginia
1782-09-13              NaN
1782-10-18              NaN
1782-12-06              NaN
1783-01-22         Virginia
Name: State, Length: 232, dtype: object

In [43]:
# Q6. war 데이터 특징 파악

# (1)
len(war) - war.count()

# war.isnull().sum()도 가능

70

In [44]:
# (2)
war.count()

162

In [45]:
# (3)
war.nunique()

17

In [ ]:
## NaN 값들의 정렬 순서 지정

In [46]:
war.sort_values(na_position = "first")

Start Date
1775-09-17         NaN
1775-12-31         NaN
1776-03-03         NaN
1776-03-25         NaN
1776-05-18         NaN
                ...
1781-07-06    Virginia
1781-07-01    Virginia
1781-06-26    Virginia
1781-04-25    Virginia
1783-01-22    Virginia
Name: State, Length: 232, dtype: object

In [47]:
war.sort_values(na_position = "last")

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
                 ...
1782-08-08            NaN
1782-08-25            NaN
1782-09-13            NaN
1782-10-18            NaN
1782-12-06            NaN
Name: State, Length: 232, dtype: object

In [ ]:
## NaN 배제

In [48]:
war.dropna()

Start Date
1774-09-01     Massachusetts
1774-12-14     New Hampshire
1775-04-19     Massachusetts
1775-04-19     Massachusetts
1775-04-20          Virginia
                   ...
1782-08-15          Virginia
1782-08-19          Virginia
1782-08-26    South Carolina
1782-09-11          Virginia
1783-01-22          Virginia
Name: State, Length: 162, dtype: object

In [75]:
## index 기준 정렬

In [49]:
pokemons.sort_index(ascending = True)

Pokemon
Abomasnow        Grass / Ice
Abra                 Psychic
Absol                   Dark
Accelgor                 Bug
Aegislash      Steel / Ghost
                  ...
Zoroark                 Dark
Zorua                   Dark
Zubat        Poison / Flying
Zweilous       Dark / Dragon
Zygarde      Dragon / Ground
Name: Type, Length: 809, dtype: object

In [50]:
war.sort_index()  # NaT = Not a Time (시간값을 갖지 않음)

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
                  ...
1783-01-22         Virginia
NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
Name: State, Length: 232, dtype: object

In [51]:
war.sort_index(na_position = "first")

Start Date
NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
1774-09-01    Massachusetts
                  ...
1782-09-11         Virginia
1782-09-13              NaN
1782-10-18              NaN
1782-12-06              NaN
1783-01-22         Virginia
Name: State, Length: 232, dtype: object

In [52]:
war.sort_index(na_position = "last")

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
                  ...
1783-01-22         Virginia
NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
Name: State, Length: 232, dtype: object

In [ ]:
## loc()

In [53]:
war.loc[war.index.dropna()]

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-19    Massachusetts
                  ...
1782-09-11         Virginia
1782-09-13              NaN
1782-10-18              NaN
1782-12-06              NaN
1783-01-22         Virginia
Name: State, Length: 250, dtype: object

In [54]:
war.loc[war.index.notnull()]

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
                  ...
1782-09-11         Virginia
1782-09-13              NaN
1782-10-18              NaN
1782-12-06              NaN
1783-01-22         Virginia
Name: State, Length: 228, dtype: object

In [ ]:
# length가 다르다! -> 중복된 index가 11개 존재함

In [55]:
war.index.value_counts()[:11]

1781-04-25    2
1781-05-22    2
1780-08-18    2
1781-09-13    2
1782-03-16    2
1780-05-25    2
1778-09-07    2
1782-01-11    2
1777-08-22    2
1775-04-19    2
1781-04-15    2
Name: Start Date, dtype: int64

In [56]:
war.index.dropna()

DatetimeIndex(['1774-09-01', '1774-12-14', '1775-04-19', '1775-04-19',
               '1775-04-20', '1775-05-10', '1775-05-27', '1775-06-11',
               '1775-06-17', '1775-08-08',
               ...
               '1782-08-08', '1782-08-15', '1782-08-19', '1782-08-26',
               '1782-08-25', '1782-09-11', '1782-09-13', '1782-10-18',
               '1782-12-06', '1783-01-22'],
              dtype='datetime64[ns]', name='Start Date', length=228, freq=None)

In [57]:
war[["1781-04-25", "1781-04-25"]]  # 중복된 값 확인

Start Date
1781-04-25          Virginia
1781-04-25    South Carolina
1781-04-25          Virginia
1781-04-25    South Carolina
Name: State, dtype: object

In [ ]:
# 더 정확한 결과물은 length = 228인 것. index.notnull()을 쓰는게 더 정확함

In [58]:
# Q7. google Series 객체에 대해 가장 큰 값 10개, 가장 작은 값 10개 출력
google = pd.read_csv("datas/google_stocks.csv",
                     parse_dates = ["Date"],  # parsing 할 column을 List로 전달
                     index_col = "Date",
                     squeeze = True)
google

C:\Users\Playdata\AppData\Local\Temp\ipykernel_2088\1141415911.py:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  google = pd.read_csv("datas/google_stocks.csv",

Date
2004-08-19      49.98
2004-08-20      53.95
2004-08-23      54.50
2004-08-24      52.24
2004-08-25      52.80
               ...
2019-10-21    1246.15
2019-10-22    1242.80
2019-10-23    1259.13
2019-10-24    1260.99
2019-10-25    1265.13
Name: Close, Length: 3824, dtype: float64

In [59]:
google.sort_values().head(10)

Date
2004-09-03    49.82
2004-09-01    49.94
2004-08-19    49.98
2004-09-02    50.57
2004-09-07    50.60
2004-08-30    50.81
2004-09-08    50.96
2004-09-09    50.96
2004-08-31    50.99
2004-08-24    52.24
Name: Close, dtype: float64

In [60]:
google.sort_values(ascending = False).head(10)

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
2018-07-25    1263.70
2019-04-25    1263.45
2019-10-24    1260.99
2019-10-23    1259.13
2019-04-24    1256.00
Name: Close, dtype: float64

In [ ]:
# head(), tail()쓰는 것과 결과 동일

In [61]:
google.nlargest(10)

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
2018-07-25    1263.70
2019-04-25    1263.45
2019-10-24    1260.99
2019-10-23    1259.13
2019-04-24    1256.00
Name: Close, dtype: float64

In [62]:
google.nsmallest(10)

Date
2004-09-03    49.82
2004-09-01    49.94
2004-08-19    49.98
2004-09-02    50.57
2004-09-07    50.60
2004-08-30    50.81
2004-09-08    50.96
2004-09-09    50.96
2004-08-31    50.99
2004-08-24    52.24
Name: Close, dtype: float64

In [63]:
pokemons.value_counts()

Normal                65
Water                 61
Grass                 38
Psychic               35
Fire                  30
                      ..
Fire / Psychic         1
Normal / Ground        1
Psychic / Fighting     1
Dark / Ghost           1
Fire / Ghost           1
Name: Type, Length: 159, dtype: int64

In [64]:
bins = np.linspace(0, 1400, 8)
bins

array([   0.,  200.,  400.,  600.,  800., 1000., 1200., 1400.])

In [65]:
google.value_counts(bins = bins)

(200.0, 400.0]      1568
(-0.001, 200.0]      595
(400.0, 600.0]       575
(1000.0, 1200.0]     406
(600.0, 800.0]       380
(800.0, 1000.0]      207
(1200.0, 1400.0]      93
Name: Close, dtype: int64

In [66]:
# Q8.
google.value_counts(bins = bins).sort_index()

(-0.001, 200.0]      595
(200.0, 400.0]      1568
(400.0, 600.0]       575
(600.0, 800.0]       380
(800.0, 1000.0]      207
(1000.0, 1200.0]     406
(1200.0, 1400.0]      93
Name: Close, dtype: int64

In [67]:
google.value_counts(bins = 8, sort = False)

(48.581, 204.54]       651
(204.54, 359.26]      1435
(359.26, 513.98]       263
(513.98, 668.7]        466
(668.7, 823.42]        334
(823.42, 978.14]       161
(978.14, 1132.86]      283
(1132.86, 1287.58]     231
Name: Close, dtype: int64

In [68]:
# Q9.
data = {"c1": [1, 2, "누락"],
        "c2": [1.11, "", 3.33],
        "c3": ["one", "two", "three"]
}
columns = ["c1", "c2", "c3"]

df_csv = pd.DataFrame(data, columns = columns)
df_csv

   c1    c2     c3
0   1  1.11    one
1   2          two
2  누락  3.33  three

In [69]:
df_csv.to_csv("datas/sample1.csv", index = False)  # csv파일로 저장

In [ ]:
## 참고 ##

In [70]:
%pwd  # 현재 working directory 출력

'C:\\python'

In [73]:
%cd C:\\python\\datas

C:\python\datas

In [ ]:
# change directory. 불러올 파일 위치로 working directory 설정

In [ ]:
## CSV파일 불러오기

In [74]:
df_read = pd.read_csv("sample1.csv")
df_read  # 인덱스는 자동으로 추가됨

   c1    c2     c3
0   1  1.11    one
1   2   NaN    two
2  누락  3.33  three

In [ ]:
## header가 없는 CSV파일 호출

In [75]:
df_csv.to_csv("sample2.csv", index = False, header = False)

In [76]:
pd.read_csv("sample2.csv", names = ["c1", "c2", "c3"])

   c1    c2     c3
0   1  1.11    one
1   2   NaN    two
2  누락  3.33  three

In [ ]:
## txt파일 불러오기

In [77]:
%%writefile sample3.txt
c1        c2        c3        c4
0.179181 -1.538472  1.347553  0.43381
1.024209  0.087307 -1.281997  0.49265
0.417899 -2.002308  0.255245 -1.10515

Writing sample3.txt

In [78]:
pd.read_table("sample3.txt", sep = "\s+")

# "\s+"는 정규표현식으로, 공백이 하나 이상 존재한다는 뜻
# 공백을 기준으로 값을 읽어온다.

         c1        c2        c3       c4
0  0.179181 -1.538472  1.347553  0.43381
1  1.024209  0.087307 -1.281997  0.49265
2  0.417899 -2.002308  0.255245 -1.10515

In [79]:
pd.read_table("sample3.txt", sep = "\s+")

         c1        c2        c3       c4
0  0.179181 -1.538472  1.347553  0.43381
1  1.024209  0.087307 -1.281997  0.49265
2  0.417899 -2.002308  0.255245 -1.10515

In [ ]:
## 참고2 ##
# % 기호를 사용하는 코드 앞에는 주석이 있으면 안 됨!!
# 즉, 무조건 % 기호가 무조건 해당 셀의 첫 문자여야 한다.

In [ ]:
## 상단에 데이터 외 부가적인 텍스트가 있는 경우

In [80]:
%%writefile sample4.txt
파일 제목: sample4.txt
데이터 포맷의 설명:
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample4.txt

In [81]:
pd.read_csv("sample4.txt", skiprows = [0, 1])

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [ ]:
## 자료 내 특정 값을 NaN으로 취급할 때

In [82]:
df_na_val = pd.read_csv("sample1.csv", na_values = ["누락"])
df_na_val  # '누락'이 NaN으로 변경

    c1    c2     c3
0  1.0  1.11    one
1  2.0   NaN    two
2  NaN  3.33  three

In [ ]:
## 파일 저장 시에도 구분자 지정 가능

In [83]:
df_na_val.to_csv("sample5.txt", sep = "|")

In [ ]:
## 특정 값을 변경하면서 저장

In [84]:
df_na_val.to_csv("sample6.csv", na_rep = "누락")

In [144]:
##### 온라인 상의 CSV파일 가져오기

In [85]:
titanic = pd.read_csv("https://storage.googleapis.com/tf-datasets/titanic/train.csv")
titanic

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y
...,...,...,...,...,...,...,...,...,...,...
622,0,male,28.0,0,0,10.5000,Second,unknown,Southampton,y
623,0,male,25.0,0,0,7.0500,Third,unknown,Southampton,y
624,1,female,19.0,0,0,30.0000,First,B,Southampton,y
625,0,female,28.0,1,2,23.4500,Third,unknown,Southampton,n
626,0,male,32.0,0,0,7.7500,Third,unknown,Queenstown,y

In [ ]:
##### CSV파일 찾아서 실습

In [86]:
accident = pd.read_csv("도로교통공단_도로종류별 기상상태별 교통사고 통계.csv", encoding = 'cp949')
accident

      도로종류   기상상태   사고건수  사망자수   중상자수   경상자수  부상신고자수
0     일반국도     맑음  16479   427   4985  19509    1354
1     일반국도     흐림    796    33    258    874      81
2     일반국도      비   1326    49    433   1573      93
3     일반국도     안개     43     6     22     37       0
4     일반국도      눈    165     4     48    221      20
5     일반국도  기타/불명    174     5     57    212      15
6      지방도     맑음  12256   271   3972  13464    1155
7      지방도     흐림    507    26    164    550      42
8      지방도      비    911    30    315   1061      77
9      지방도     안개     37     4     17     28       4
10     지방도      눈    138     4     39    173      12
11     지방도  기타/불명    142     6     48    141      15
12  특별광역시도     맑음  70945   557  17436  74588    5945
13  특별광역시도     흐림   2568    37    674   2570     190
14  특별광역시도      비   5286    65   1298   5675     397
15  특별광역시도     안개     14     1      4     16       1
16  특별광역시도      눈    463     3     80    601      25
17  특별광역시도  기타/불명    829     4    173    848      74
18      시도     맑음  57822   681  16158  62232    4016
19      시도     흐림   2211    57    678   2271     132
20      시도      비   4384    71   1259   4819     277
21      시도     안개     76     9     29     65       8
22      시도      눈    426     6     98    543      35
23      시도  기타/불명    576    10    155    587      44
24      군도     맑음   6008   174   2369   5757     428
25      군도     흐림    283    16    122    236      16
26      군도      비    421    12    160    413      25
27      군도     안개     18     0      7     19       0
28      군도      눈     53     1     15     63       3
29      군도  기타/불명     65     5     17     68       1
30    고속국도     맑음   4255   138   1331   6582     566
31    고속국도     흐림    147    16     52    216      20
32    고속국도      비    403    29    161    553      63
33    고속국도     안개     10     2     10     13       1
34    고속국도      눈     61     4     29     81      14
35    고속국도  기타/불명      7     2      9      7       0
36      기타     맑음  11148   124   2821  10918    1100
37      기타     흐림    470    12    114    454      63
38      기타      비    642    11    160    637      56
39      기타     안개      9     0      3      8       2
40      기타      눈     89     1     11     96      10
41      기타  기타/불명    467     3    114    504      40

In [87]:
accident2 = pd.read_csv("도로교통공단_도로종류별 기상상태별 교통사고 통계.csv", 
                        index_col = "도로종류",
                        encoding = 'cp949')
accident2

         기상상태   사고건수  사망자수   중상자수   경상자수  부상신고자수
도로종류
일반국도       맑음  16479   427   4985  19509    1354
일반국도       흐림    796    33    258    874      81
일반국도        비   1326    49    433   1573      93
일반국도       안개     43     6     22     37       0
일반국도        눈    165     4     48    221      20
일반국도    기타/불명    174     5     57    212      15
지방도        맑음  12256   271   3972  13464    1155
지방도        흐림    507    26    164    550      42
지방도         비    911    30    315   1061      77
지방도        안개     37     4     17     28       4
지방도         눈    138     4     39    173      12
지방도     기타/불명    142     6     48    141      15
특별광역시도     맑음  70945   557  17436  74588    5945
특별광역시도     흐림   2568    37    674   2570     190
특별광역시도      비   5286    65   1298   5675     397
특별광역시도     안개     14     1      4     16       1
특별광역시도      눈    463     3     80    601      25
특별광역시도  기타/불명    829     4    173    848      74
시도         맑음  57822   681  16158  62232    4016
시도         흐림   2211    57    678   2271     132
시도          비   4384    71   1259   4819     277
시도         안개     76     9     29     65       8
시도          눈    426     6     98    543      35
시도      기타/불명    576    10    155    587      44
군도         맑음   6008   174   2369   5757     428
군도         흐림    283    16    122    236      16
군도          비    421    12    160    413      25
군도         안개     18     0      7     19       0
군도          눈     53     1     15     63       3
군도      기타/불명     65     5     17     68       1
고속국도       맑음   4255   138   1331   6582     566
고속국도       흐림    147    16     52    216      20
고속국도        비    403    29    161    553      63
고속국도       안개     10     2     10     13       1
고속국도        눈     61     4     29     81      14
고속국도    기타/불명      7     2      9      7       0
기타         맑음  11148   124   2821  10918    1100
기타         흐림    470    12    114    454      63
기타          비    642    11    160    637      56
기타         안개      9     0      3      8       2
기타          눈     89     1     11     96      10
기타      기타/불명    467     3    114    504      40

In [88]:
dfr = accident2.loc[:,"기상상태":"사고건수"]
dfr

         기상상태   사고건수
도로종류
일반국도       맑음  16479
일반국도       흐림    796
일반국도        비   1326
일반국도       안개     43
일반국도        눈    165
일반국도    기타/불명    174
지방도        맑음  12256
지방도        흐림    507
지방도         비    911
지방도        안개     37
지방도         눈    138
지방도     기타/불명    142
특별광역시도     맑음  70945
특별광역시도     흐림   2568
특별광역시도      비   5286
특별광역시도     안개     14
특별광역시도      눈    463
특별광역시도  기타/불명    829
시도         맑음  57822
시도         흐림   2211
시도          비   4384
시도         안개     76
시도          눈    426
시도      기타/불명    576
군도         맑음   6008
군도         흐림    283
군도          비    421
군도         안개     18
군도          눈     53
군도      기타/불명     65
고속국도       맑음   4255
고속국도       흐림    147
고속국도        비    403
고속국도       안개     10
고속국도        눈     61
고속국도    기타/불명      7
기타         맑음  11148
기타         흐림    470
기타          비    642
기타         안개      9
기타          눈     89
기타      기타/불명    467

In [89]:
dfr.loc["일반국도"]

       기상상태   사고건수
도로종류
일반국도     맑음  16479
일반국도     흐림    796
일반국도      비   1326
일반국도     안개     43
일반국도      눈    165
일반국도  기타/불명    174

In [ ]:
##### API 불러오기

In [90]:
import requests
import json
subway = requests.get("https://api.odcloud.kr/api/15071311/v1/uddi:b3803d43-ffe3-4d17-9024-fd6cfa37c284?page=1&perPage=10",
                        params = {'serviceKey':'YNYne3UCQg4k1qgxzFhcz8VccfoDUbD3z24yjD6L64iETdS+abaluSKcP15Z3+XNppqSO+bYUJNwW8QJimsJbg=='},
                        headers = {"accept": "application/json"})
# params의 key는 Decoding 코드 이용

In [91]:
print(subway.status_code)

200

In [92]:
subway_dict = subway.json()
print(subway_dict)

{'currentCount': 10, 'data': [{'10시00분': '26.6', '10시30분': '23.4', '11시00분': '22.4', '11시30분': '22.1', '12시00분': '21.5', '12시30분': '27.2', '13시00분': '21.2', '13시30분': '24.1', '14시00분': '21.7', '14시30분': '18.7', '15시00분': '18.5', '15시30분': '18.4', '16시00분': '16.4', '16시30분': '17.7', '17시00분': '16.7', '17시30분': '24.1', '18시00분': '30.8', '18시30분': '28.7', '19시00분': '20.0', '19시30분': '15.1', '20시00분': '11.1', '20시30분': '12.0', '21시00분': '12.5', '21시30분': '10.1', '22시00분': '10.4', '22시30분': '16.4', '23시00분': '7.8', '23시30분': '6.1', '5시30분': '6.2', '6시00분': '14.6', '6시30분': '13.4', '7시00분': '26.8', '7시30분': '43.3', '8시00분': '53.6', '8시30분': '70.9', '9시00분': '40.4', '9시30분': '38.0', '구분': '상선', '역명': '서울역', '역번호': 150, '연번': 1, '조사일자': '평일', '호선': 1}, {'10시00분': '13.9', '10시30분': '15.2', '11시00분': '14.6', '11시30분': '14.2', '12시00분': '17.6', '12시30분': '19.6', '13시00분': '20.3', '13시30분': '20.5', '14시00분': '25.4', '14시30분': '22.0', '15시00분': '30.1', '15시30분': '24.4', '16시00분': '33.8', '16시30분': '36.7', '17시00분': '43.8', '17시30분': '49.7', '18시00분': '84.0', '18시30분': '65.1', '19시00분': '37.5', '19시30분': '26.5', '20시00분': '25.5', '20시30분': '26.4', '21시00분': '26.3', '21시30분': '21.1', '22시00분': '32.1', '22시30분': '20.3', '23시00분': '12.6', '23시30분': '10.3', '5시30분': '9.1', '6시00분': '8.6', '6시30분': '9.3', '7시00분': '15.2', '7시30분': '29.3', '8시00분': '27.7', '8시30분': '19.0', '9시00분': '18.5', '9시30분': '15.1', '구분': '하선', '역명': '서울역', '역번호': 150, '연번': 2, '조사일자': '평일', '호선': 1}, {'10시00분': '20.2', '10시30분': '21.9', '11시00분': '20.8', '11시30분': '20.0', '12시00분': '21.7', '12시30분': '24.4', '13시00분': '21.7', '13시30분': '23.7', '14시00분': '21.5', '14시30분': '20.7', '15시00분': '20.3', '15시30분': '19.3', '16시00분': '18.0', '16시30분': '19.4', '17시00분': '18.7', '17시30분': '26.5', '18시00분': '41.5', '18시30분': '35.6', '19시00분': '24.1', '19시30분': '17.4', '20시00분': '13.7', '20시30분': '14.5', '21시00분': '15.8', '21시30분': '12.1', '22시00분': '14.5', '22시30분': '18.3', '23시00분': '11.7', '23시30분': '11.7', '5시30분': '5.4', '6시00분': '10.1', '6시30분': '13.0', '7시00분': '20.8', '7시30분': '32.0', '8시00분': '40.6', '8시30분': '50.9', '9시00분': '30.8', '9시30분': '35.8', '구분': '상선', '역명': '시청', '역번호': 151, '연번': 3, '조사일자': '평일', '호선': 1}, {'10시00분': '13.5', '10시30분': '14.2', '11시00분': '13.7', '11시30분': '13.2', '12시00분': '17.3', '12시30분': '18.4', '13시00분': '19.6', '13시30분': '19.4', '14시00분': '24.2', '14시30분': '22.9', '15시00분': '27.0', '15시30분': '26.4', '16시00분': '30.6', '16시30분': '30.5', '17시00분': '41.1', '17시30분': '45.3', '18시00분': '81.2', '18시30분': '59.2', '19시00분': '33.8', '19시30분': '22.9', '20시00분': '22.0', '20시30분': '24.1', '21시00분': '23.0', '21시30분': '21.0', '22시00분': '24.8', '22시30분': '18.5', '23시00분': '11.8', '23시30분': '9.1', '5시30분': '7.0', '6시00분': '6.8', '6시30분': '10.2', '7시00분': '14.5', '7시30분': '27.0', '8시00분': '24.7', '8시30분': '20.0', '9시00분': '18.4', '9시30분': '14.5', '구분': '하선', '역명': '시청', '역번호': 151, '연번': 4, '조사일자': '평일', '호선': 1}, {'10시00분': '17.0', '10시30분': '18.4', '11시00분': '19.4', '11시30분': '16.9', '12시00분': '21.2', '12시30분': '23.2', '13시00분': '21.0', '13시30분': '22.8', '14시00분': '23.8', '14시30분': '21.0', '15시00분': '23.7', '15시30분': '22.3', '16시00분': '20.6', '16시30분': '21.0', '17시00분': '24.1', '17시30분': '29.1', '18시00분': '54.5', '18시30분': '42.0', '19시00분': '28.8', '19시30분': '20.2', '20시00분': '19.1', '20시30분': '18.7', '21시00분': '22.2', '21시30분': '16.1', '22시00분': '21.8', '22시30분': '25.1', '23시00분': '16.3', '23시30분': '14.8', '5시30분': '5.2', '6시00분': '10.8', '6시30분': '9.3', '7시00분': '13.6', '7시30분': '19.6', '8시00분': '25.5', '8시30분': '26.5', '9시00분': '19.2', '9시30분': '26.2', '구분': '상선', '역명': '종각', '역번호': 152, '연번': 5, '조사일자': '평일', '호선': 1}, {'10시00분': '14.9', '10시30분': '15.6', '11시00분': '15.0', '11시30분': '14.4', '12시00분': '16.5', '12시30분': '19.9', '13시00분': '19.2', '13시30분': '20.5', '14시00분': '25.9', '14시30분': '20.0', '15시00분': '29.0', '15시30분': '21.0', '16시00분': '30.6', '16시30분': '26.0', '17시00분': '37.8', '17시30분': '38.3', '18시00분': '60.2', '18시30분': '44.2', '19시00분': '22.1', '19시30분': '21.2', '20시00분': '17.6', '20시30분': '19.2', '21시00분': '18.2', '21시30분': '17.0', '22시00분': '21.1', '22시30분': '15.1', '23시00분': '10.7', '23시30분': '7.1', '5시30분': '7.8', '6시00분': '7.4', '6시30분': '10.9', '7시00분': '18.7', '7시30분': '29.7', '8시00분': '37.8', '8시30분': '31.3', '9시00분': '24.1', '9시30분': '18.5', '구분': '하선', '역명': '종각', '역번호': 152, '연번': 6, '조사일자': '평일', '호선': 1}, {'10시00분': '19.7', '10시30분': '21.4', '11시00분': '16.6', '11시30분': '18.0', '12시00분': '22.7', '12시30분': '25.0', '13시00분': '27.6', '13시30분': '21.0', '14시00분': '25.7', '14시30분': '24.6', '15시00분': '26.7', '15시30분': '25.5', '16시00분': '22.8', '16시30분': '25.6', '17시00분': '26.5', '17시30분': '32.3', '18시00분': '57.5', '18시30분': '51.2', '19시00분': '29.6', '19시30분': '22.2', '20시00분': '21.0', '20시30분': '18.9', '21시00분': '26.1', '21시30분': '18.3', '22시00분': '22.8', '22시30분': '29.0', '23시00분': '18.2', '23시30분': '16.6', '5시30분': '4.8', '6시00분': '9.8', '6시30분': '9.0', '7시00분': '12.9', '7시30분': '20.4', '8시00분': '30.8', '8시30분': '25.5', '9시00분': '18.9', '9시30분': '23.6', '구분': '상선', '역명': '종로3가', '역번호': 153, '연번': 7, '조사일자': '평일', '호선': 1}, {'10시00분': '17.5', '10시30분': '18.7', '11시00분': '14.6', '11시30분': '17.7', '12시00분': '18.7', '12시30분': '19.3', '13시00분': '19.2', '13시30분': '20.3', '14시00분': '25.6', '14시30분': '18.7', '15시00분': '27.2', '15시30분': '20.4', '16시00분': '27.2', '16시30분': '23.7', '17시00분': '26.6', '17시30분': '34.6', '18시00분': '39.9', '18시30분': '34.5', '19시00분': '16.8', '19시30분': '16.0', '20시00분': '12.8', '20시30분': '13.2', '21시00분': '11.7', '21시30분': '10.1', '22시00분': '12.9', '22시30분': '9.6', '23시00분': '6.9', '23시30분': '4.9', '5시30분': '9.1', '6시00분': '7.3', '6시30분': '14.0', '7시00분': '23.3', '7시30분': '38.8', '8시00분': '51.6', '8시30분': '49.6', '9시00분': '35.6', '9시30분': '26.5', '구분': '하선', '역명': '종로3가', '역번호': 153, '연번': 8, '조사일자': '평일', '호선': 1}, {'10시00분': '18.7', '10시30분': '15.4', '11시00분': '14.2', '11시30분': '15.3', '12시00분': '23.7', '12시30분': '18.7', '13시00분': '25.8', '13시30분': '17.7', '14시00분': '25.3', '14시30분': '24.2', '15시00분': '30.1', '15시30분': '22.6', '16시00분': '23.3', '16시30분': '26.9', '17시00분': '25.2', '17시30분': '35.6', '18시00분': '60.4', '18시30분': '54.6', '19시00분': '34.3', '19시30분': '22.8', '20시00분': '21.5', '20시30분': '21.9', '21시00분': '27.8', '21시30분': '22.4', '22시00분': '20.8', '22시30분': '29.8', '23시00분': '18.7', '23시30분': '16.7', '5시30분': '4.3', '6시00분': '7.9', '6시30분': '7.4', '7시00분': '9.9', '7시30분': '15.6', '8시00분': '22.2', '8시30분': '16.7', '9시00분': '16.5', '9시30분': '15.8', '구분': '상선', '역명': '종로5가', '역번호': 154, '연번': 9, '조사일자': '평일', '호선': 1}, {'10시00분': '20.9', '10시30분': '24.3', '11시00분': '19.0', '11시30분': '17.3', '12시00분': '24.8', '12시30분': '25.9', '13시00분': '18.1', '13시30분': '23.0', '14시00분': '25.0', '14시30분': '24.4', '15시00분': '25.7', '15시30분': '24.1', '16시00분': '24.9', '16시30분': '28.3', '17시00분': '26.9', '17시30분': '34.6', '18시00분': '40.5', '18시30분': '27.4', '19시00분': '18.3', '19시30분': '13.8', '20시00분': '12.2', '20시30분': '12.1', '21시00분': '10.8', '21시30분': '9.6', '22시00분': '11.1', '22시30분': '7.9', '23시00분': '6.7', '23시30분': '4.3', '5시30분': '10.8', '6시00분': '7.9', '6시30분': '16.4', '7시00분': '28.4', '7시30분': '40.7', '8시00분': '58.7', '8시30분': '50.7', '9시00분': '42.7', '9시30분': '28.5', '구분': '하선', '역명': '종로5가', '역번호': 154, '연번': 10, '조사일자': '평일', '호선': 1}], 'matchCount': 1704, 'page': 1, 'perPage': 10, 'totalCount': 1704}

In [93]:
sub_dic = pd.DataFrame(subway_dict['data'])
sub_dic

,10시00분,10시30분,11시00분,11시30분,12시00분,12시30분,13시00분,13시30분,14시00분,14시30분,...,8시00분,8시30분,9시00분,9시30분,구분,역명,역번호,연번,조사일자,호선
0,26.6,23.4,22.4,22.1,21.5,27.2,21.2,24.1,21.7,18.7,...,53.6,70.9,40.4,38.0,상선,서울역,150,1,평일,1
1,13.9,15.2,14.6,14.2,17.6,19.6,20.3,20.5,25.4,22.0,...,27.7,19.0,18.5,15.1,하선,서울역,150,2,평일,1
2,20.2,21.9,20.8,20.0,21.7,24.4,21.7,23.7,21.5,20.7,...,40.6,50.9,30.8,35.8,상선,시청,151,3,평일,1
3,13.5,14.2,13.7,13.2,17.3,18.4,19.6,19.4,24.2,22.9,...,24.7,20.0,18.4,14.5,하선,시청,151,4,평일,1
4,17.0,18.4,19.4,16.9,21.2,23.2,21.0,22.8,23.8,21.0,...,25.5,26.5,19.2,26.2,상선,종각,152,5,평일,1
5,14.9,15.6,15.0,14.4,16.5,19.9,19.2,20.5,25.9,20.0,...,37.8,31.3,24.1,18.5,하선,종각,152,6,평일,1
6,19.7,21.4,16.6,18.0,22.7,25.0,27.6,21.0,25.7,24.6,...,30.8,25.5,18.9,23.6,상선,종로3가,153,7,평일,1
7,17.5,18.7,14.6,17.7,18.7,19.3,19.2,20.3,25.6,18.7,...,51.6,49.6,35.6,26.5,하선,종로3가,153,8,평일,1
8,18.7,15.4,14.2,15.3,23.7,18.7,25.8,17.7,25.3,24.2,...,22.2,16.7,16.5,15.8,상선,종로5가,154,9,평일,1
9,20.9,24.3,19.0,17.3,24.8,25.9,18.1,23.0,25.0,24.4,...,58.7,50.7,42.7,28.5,하선,종로5가,154,10,평일,1

In [94]:
sub_dic.to_csv("subway_data.csv", index = False)

In [95]:
df_subway = pd.read_csv("subway_data.csv")
df_subway

,10시00분,10시30분,11시00분,11시30분,12시00분,12시30분,13시00분,13시30분,14시00분,14시30분,...,8시00분,8시30분,9시00분,9시30분,구분,역명,역번호,연번,조사일자,호선
0,26.6,23.4,22.4,22.1,21.5,27.2,21.2,24.1,21.7,18.7,...,53.6,70.9,40.4,38.0,상선,서울역,150,1,평일,1
1,13.9,15.2,14.6,14.2,17.6,19.6,20.3,20.5,25.4,22.0,...,27.7,19.0,18.5,15.1,하선,서울역,150,2,평일,1
2,20.2,21.9,20.8,20.0,21.7,24.4,21.7,23.7,21.5,20.7,...,40.6,50.9,30.8,35.8,상선,시청,151,3,평일,1
3,13.5,14.2,13.7,13.2,17.3,18.4,19.6,19.4,24.2,22.9,...,24.7,20.0,18.4,14.5,하선,시청,151,4,평일,1
4,17.0,18.4,19.4,16.9,21.2,23.2,21.0,22.8,23.8,21.0,...,25.5,26.5,19.2,26.2,상선,종각,152,5,평일,1
5,14.9,15.6,15.0,14.4,16.5,19.9,19.2,20.5,25.9,20.0,...,37.8,31.3,24.1,18.5,하선,종각,152,6,평일,1
6,19.7,21.4,16.6,18.0,22.7,25.0,27.6,21.0,25.7,24.6,...,30.8,25.5,18.9,23.6,상선,종로3가,153,7,평일,1
7,17.5,18.7,14.6,17.7,18.7,19.3,19.2,20.3,25.6,18.7,...,51.6,49.6,35.6,26.5,하선,종로3가,153,8,평일,1
8,18.7,15.4,14.2,15.3,23.7,18.7,25.8,17.7,25.3,24.2,...,22.2,16.7,16.5,15.8,상선,종로5가,154,9,평일,1
9,20.9,24.3,19.0,17.3,24.8,25.9,18.1,23.0,25.0,24.4,...,58.7,50.7,42.7,28.5,하선,종로5가,154,10,평일,1